<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCE</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-4 d-none d-md-flex align-items-center">
                <img src="assets/1.png" class="tech-photo">
            </div>
            <div class="col-md-4 ">
                <img src="assets/under construction.png"  class="slide-top tech-photo">
            </div>
            <div class="col-md-4 d-none d-md-flex align-items-center">
                <img src="assets/2.png" class="tech-photo" >
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 d-flex justify-content-center">
                <img src="assets/logo.png" class="logo" alt="">
            </div>
            <div class="col-md-9 d-flex flex-column justify-content-between">
                <div class="wrapper d-md-flex justify-content-between">
                    <p>სპეცტექნიკა / CONSTURCTION AND ROAD MACHINERY</p>
                    <div class="d-flex align-items-center info-box">
                        <span class="phone-box">
                            <img class="t-icon" src="assets/Phone icon.png">
                        </span>
                        <a href="tel:591246247">(+995)591 24 62 47</a>
                    </div>
                </div>
                <div class="wrapper d-md-flex justify-content-between">
                    <p>ნაწილები / SPARE PARTS</p>
                    <div  class="d-flex align-items-center info-box">
                        <span class="phone-box">
                            <img class="t-icon" src="assets/Phone icon.png">
                        </span>
                        <a href="tel:595300892">(+995)595 30 08 92</a>
                    </div>
                </div>
                <div class="wrapper d-md-flex justify-content-between">
                    <p>მობილური სერვისი / MOBILE SERVICE</p>
                    <div  class="d-flex align-items-center info-box">
                        <span class="phone-box">
                            <img class="t-icon" src="assets/Phone icon.png">
                        </span>
                        <a href="tel:591784040">(+995)591 78 40 40</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>